
 <!-- <ng-content></ng-content>  -->

 <!-- <p>Welcome</p>  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Directives</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/late-commers">LateCommers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/images">Images</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent">@Input/@Output</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/bikes">Bikes</a>
          </li>
        
      </ul>
    </div>
  </nav>

  <!-- <h1>Welcome </h1> -->

   <!-- <nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink ="/about">About</a></li>
        <li><a routerLink="/contact-us">ContactUS</a></li>
        <li><a routerLink="/register" >Register</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
    </nav>  -->