<div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2019/12/29/15/42/sunrise-4727375__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis libero dolor est odit, 
    facere minima molestias quae et error ea. Similique a officiis, odit voluptatum delectus facere in? Cumque?
  </p> -->
